<div>
  <form name="searchUser" class="form-group" ng-submit="search(username)">
    <label for="search"></label>
    <input
      required
      type="search"
      id="search"
      ng-model="username"
      class="form-control"
      placeholder="Search a GitHub User..."
      ng-click="touched()"
    />
    <div class="alert alert-danger" ng-show="isTouched && !username">
      Input field is empty
    </div>
  </form>

  <input
    type="submit"
    ng-click="search(username)"
    value="Search"
    class="btn btn-primary"
    ng-disabled="!username"
  />
  <!-- {{ countdown }} -->
</div>
